.heading {
    color: palevioletred;
    font-weight: 800;
    font-family: Helvetica, Arial, sans-serif;
}

.food-listing {
    color: gold;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;;
}